extends layout

block content
    h2 从堆叠到水平排列
    div.row
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
     div.col-md-1 .col-md-1
    div.row
     div.col-md-8 .col-md-8
     div.col-md-4 .col-md-4
    div.row
     div.col-md-4 .col-md-4
     div.col-md-4 .col-md-4
     div.col-md-4 .col-md-4
    div.row
     div.col-md-6 .col-md-6
     div.col-md-6 .col-md-6
    h2 移动设备和桌面屏幕
    div.row
        div.col-xs-12 col-md-8 col-xs-12 col-md-8
        div.col-xs-6 col-md-4 col-xs-6 col-md-4
    div.row
        div.col-xs-6 col-md-4 col-xs-6 col-md-4
        div.col-xs-6 col-md-4 col-xs-6 col-md-4
        div.col-xs-6 col-md-4 col-xs-6 col-md-4
    div.row
        div.col-xs-6 col-xs-6
        div.col-xs-6 col-xs-6
    h2 手机、平板、桌面
    div.row
        div.col-xs-12 col-sm-6 col-md-8 col-xs-12 col-sm-6 col-md-8
        div.col-xs-6 col-md-4 col-xs-6 col-md-4
    div.row
        div.col-xs-6 col-md-4 col-xs-6 col-md-4
        div.col-xs-6 col-md-4 col-xs-6 col-md-4
        div.clearfix visible-xs-block
        div.col-xs-6 col-sm-4 col-xs-6 col-sm-4
    div.ft

